boto3==1.21.34
boto3-stubs==1.21.34
spotipy==2.19.0
aws-lambda-powertools==1.25.3
requests==2.27.1
aiohttp==3.8.1
sqlalchemy==1.4.32
sqlalchemy-stubs==0.4
pymysql==1.0.2
aws_secretsmanager_caching==1.1.1.5
chalice==1.26.6
PyJWT==2.3.0
freezegun==1.2.0
types-freezegun==1.1.8
types-requests==2.27.16
dacite==1.6.0
decorator==5.1.1
types_decorator==5.1.7
typeguard==2.13.3
